<!doctype html>
<html>
<!-- <html manifest="/manifest.appcache"> -->
    <head>
        <title>WireRoom</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/x-icon" href="/favicon.ico"/>

        <script src="/js/jquery-1.8.2.min.js"></script>

        <!-- umobi -->
        <link rel="stylesheet" href="/umobi/umobi.min.css" type="text/css" media="screen" />
        <script src="/umobi/umobi.min.js"> </script>

        <!-- wireroom -->
        <link rel="stylesheet" href="/css/wireroom.css" type="text/css" media="screen" />

        <!-- development mode -->
        <script src="/js/coffee-script.js"></script>
        <script src="/js/sha1.js"></script>
        <script src="/js/jquery.md5.js"></script>
        <script src="/js/jquery.cookie.js"></script>
        <script src="/js/coffeekup.js"></script>

        <!-- include socket.io.js -->
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/coffeescript" src="/js/uitab.coffee"></script>
        <script type="text/coffeescript" src="/js/gravatar.coffee"></script>
        <script type="text/coffeescript" src="/js/wireroom.utils.coffee"></script>
        <script type="text/coffeescript" src="/js/wireroom.message_container.coffee"></script>
        <script type="text/coffeescript" src="/js/wireroom.coffee"></script>
    </head>
    <body>
    <div data-role="page">
        <div data-fixed="true" data-role="header">
            <h1>WireRoom</h1>
        </div>
        <div data-role="content">
            <form id="channelSearch" class="channel-search"><input type="text" placeholder="Join Channel..."/></form>
            <div id="channelTabs" class="tabs">
                <ul class="tab-handle">
                </ul>
            </div>
        </div>

        <div id="connectionStatus">Waiting For Response...</div>

        <div data-fixed="true" data-role="footer">WireRoom v2 beta</div>
    </div>
    </body>
</html>
