body
  font-color #333
  text-shadow #fff
  font-size 1em
  font-family Helvetica, Arial, Sans-Serif
  margin 0
  padding 0
  background-color #eee

h1, h2, h3, h4, h5
  font-family Helvetica, Arial, Sans-Serif
  margin 0
  padding 0

form
  margin 0 auto
  padding 0
