
.side-panel
  position fixed
  width 500px
  right -500px
  top 38px
  bottom 30px
  padding 0
  border-left 1px solid #ccc
  background #fff
  box-shadow -3px 3px 3px #aaa
  -webkit-transform all
  -moz-transform all
  -webkit-transition right 0.8s
  -moz-transition right 0.8s
  &.show
    right 0px
    -webkit-transition right 0.8s
    -moz-transition right 0.8s
  .handle
    position absolute
    top 80px
    left -38px
    width 38px
    height 30px
    border-radius 10px 0 0 10px
    box-shadow -3px 3px 3px #aaa
    background #ccc
  .handle:hover
    background #ddd

.side-panel .notification-panel
  max-height 90%
  overflow auto

.side-panel .notification-panel .message
  padding 3px 5px
  border-bottom 1px solid #ccc
  vertical-align middle
  .icon
    color #666
    width 22px
    margin-right 3px
  .column
    // display inline-block
    float left
    line-height 24px
    margin-right 3px
    vertical-align middle
    display block
    // font-family Consolas, "Liberation Mono", Courier, monospace

.side-panel > .notification-panel .github
.side-panel > .notification-panel .git
  .author
    font-weight bold
  .hash
    color #4183c4
  // .branch
  // .action
  .time
    font-size 10px

// .side-panel .notification-panel .jenkins
