@import 'vendor'


.grid-2p
  float: left
  width: 20%
.grid-3p
  float: left
  width: 30%
.grid-5p
  float: left
  width: 50%
.grid-6p
  float: left
  width: 60%
.grid-7p
  float: left
  width: 70%

.clearfix
  *zoom: 1
  &:before,
  &:after
    display: table
    content: ""
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0
  &:after
    clear: both

.channel-search
  float: right

.tabs
  ul
    list-style: none
    margin: 0
    padding: 0
    margin-bottom: 10px
    margin-top: 10px;
    border-bottom: 1px solid #ccc
    li
      display: inline-block
      padding: 0
      margin: 0
      a
        display: block
        border: 1px solid #ccc
        border-radius: 10px 10px 0 0
        padding: 5px 10px
        background: #e6e6e6
      a.active
        background: #fff


body
  font-color #333
  text-shadow #fff
  font-size 1em
  font-family Helvetica, Arial, Sans-Serif
  margin 0
  padding 0
  background-color #eee

h1,h2,h3,h4,h5
  margin 0
  padding 0
  font-family Helvetica, Arial, Sans-Serif

form
  margin 0 auto
  padding 0

a,
a:link,
a:visited
  text-decoration none
a:hover
  text-decoration underline

@-webkit-keyframes fadeInEffect
  from { opacity: 0; }
  to   { opacity: 1; }



#nicknameInput
  font-weight bold

#connectionStatus
  position fixed
  bottom 3px
  right 3px
  padding 3px 8px
  color #222
  z-index 999
  text-shadow 1px 1px #fff
  background-color #f0fdcd
  border 1px solid #ccc

.message-container
  margin-top 10px

  .action .nickname:after
    content " "

  .action
    background #ffe

  .nickname
    font-weight bold

  .nickname:after
    content ": "

  .avatar
    width: 26px
    vertical-align: top
    img
      width: 26px 
      height: 26px
      vertical-align: top
      margin-right: 0.5em

  p.message
    padding 3px 8px
    margin 0
    border-bottom 1px dotted #eee
    line-height: 160%
    -webkit-animation-name: fadeInEffect;
    -webkit-animation-duration: 0.8s;

  .message .column
    margin-right: 0.5em;

  time
    color #ccc
    margin-right 0.5em

